<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="referrer" content="never" />
        <meta charset="UTF-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <% if(process.env.NODE_ENV==='production' ){ %>
        <!-- 导入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css" />
        <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
        <!-- 导入 Vue 3 -->
        <script src="https://unpkg.com/vue@next"></script>
        <!-- 导入组件库 -->
        <script src="https://unpkg.com/element-plus"></script>
        <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
        <script src="https://unpkg.com/vue-demi@0.12.1/lib/index.iife.js"></script>
        <script src="https://unpkg.com/pinia@2.0.8/dist/pinia.iife.js"></script>
        <% } %>
        <title>拷贝漫画精简版</title>
    </head>
    <body>
        <div id="app"></div>
        <script type="module" src="/src/main.ts"></script>
    </body>
</html>
